[submodule "python/resources/learn-python"]
	path = python/resources/learn-python
	url = https://github.com/trekhleb/learn-python.git
[submodule "python/resources/Python"]
	path = python/resources/Python
	url = https://github.com/geekcomputers/Python.git
