[submodule "notes/resources/learn-python"]
	path = notes/resources/learn-python
	url = https://github.com/trekhleb/learn-python.git
[submodule "notes/resources/Python"]
	path = notes/resources/Python
	url = https://github.com/geekcomputers/Python.git
